.link {
    color: black;
    background-color: #f2f3f5;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    border: 1px solid rgb(150, 150, 150);
}

.link:hover {
    background-color: #0563bb; 
    color: white;
}

.active {
    background-color: #0563bb; 
}

.icon {
    padding: 10px;
}